<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<h2>Comments</h2>
<div id="comments">
	<%= render :partial=> @post.comments.reverse %>
</div>

<%= form_for([@post,Comment.new], remote: true) do |f| %>
		<p>
			<%= f.label :body,"New Comments" %>
			<%= f.text_area :body %> 
		    <%= f.submit "Add Comment" %>
		</p>
	<% end %>
</div>
>>>>>>> 371ddc554242c02e52c5000a3957201570385be8
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
